---
layout: page
ads:    true
disable_sharing: true
---
<div itemscope itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
<div class="post-preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

	<a href="{{ post.author | prepend: '/authors/' | prepend: site.baseurl | replace: '//', '/' }}">
		<img class="preview-author-image" src="{{  post.author | append: '.jpg' | prepend:'small_' | prepend:'/img/' | prepend: site.baseurl | replace: '//', '/' }}">
		<div class="preview-author-details">
			<div class="preview-author-name" itemprop='author'>{{ post.author }}</div>
			<time class="preview-published-time" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
		</div>
	</a>

    <a itemprop="url" href="{{ post.url | prepend: site.baseurl }}">
		{% if post.header-img %}
			{% assign imgURLParts = post.header-img | split: '/' %}
			{% assign imgURL = '' %}
			{% for item in imgURLParts %}
				{% if forloop.last %}
					{% assign imgURL = item | prepend:'/banner_' | prepend:imgURL %}
				{% else %}
					{% assign imgURL = imgURL | append:'/' | append:item %}
				{% endif %}
			{% endfor %}
			<img itemprop='image' class="preview-post-image" src="{{ imgURL }}">
		{% endif %}
        <h2 class="post-title" itemprop="name">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle" itemprop="headline">
            {{ post.subtitle | strip_html | truncate: 160 }}
        </h3>
        {% endif %}
    </a>
</div>
<hr>
{% endfor %}
</div>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% if paginator.page == 1 %}
	<script type="application/ld+json">
	{
	  "@context" : "http://schema.org",
	  "@type" : "WebSite",
	  "name" : "Wilderhood",
	  "url" : "http://www.wilderhood.com"
	}
	</script>
{% endif %}
{% include magazine.html %}

