---
layout: galleryPage
gallery: true
ads: true
disable-header-img: true
title: Gallery
---

<script>
var galleryTemplate = "#w-gallery-template-all";
var postList = postList || [];
{% for collection in site.collections %}
	{% assign collectionName = collection.label %}
	{% for post in site[collectionName] %}
		{% if post.header-thumb-img == blank %}
			{% continue %}
		{% endif %}
	postList.push({url:"{{ post.url | prepend: site.baseurl }}", img:"{{ post.header-thumb-img | prepend: '../' | prepend: site.baseurl }}", title:"{{post.title}}", subtitle:"{{post.subtitle}}", collection:"{{post.collection}}", collectionurl:"{{ post.collection | prepend: '/' | prepend: site.baseurl}}"});
	{% endfor %}
{% endfor %}
</script>

<div class="container-fluid">
	<div class="row postsContainer row-centered">
	</div>
</div>