<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ '/feed.xml' | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li>
                        <a href="{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">Copyright &copy; <a href="http://wilderhood.com/" class="copyright text-muted" style="text-decoration: none;">Wilderhood</a> {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "logo": "http://az741737.vo.msecnd.net/wilderhood-public/logo.png",
  "description": "A travel community for wildlife enthusiasts and photographers",
  "url": "http://www.wilderhood.com",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Bangalore, Karnataka, India"
  },
  "email": "contact(at)wilderhood.com",
  "name": "Wilderhood",
  "telephone": "+91 9986507298"
}
</script>

{% include google_analytics.html %}	

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

{% if site.production %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.min.js"></script>
	<script src="{{site.baseurl}}/js/clean-blog.autogenerated.js?bust={{ site.time | date: '%s' }}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.bundle.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
{% else %}
	<!-- jQuery -->
	<script src="{{ '/_jsdev/jquery.min.js' | prepend: site.baseurl }}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{{ '/_jsdev/hogan.min.js' | prepend: site.baseurl }}"></script>

	<!-- Custom Theme JavaScript -->
	<script src="{{ '/_jsdev/clean-blog.js' | prepend: site.baseurl }}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{{ '/_jsdev/bootstrap.min.js' | prepend: site.baseurl }}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{{ '/_jsdev/typeahead.bundle.0.10.5.min.js' | prepend: site.baseurl }}"></script>

	<script type="text/javascript" src="{{ '/_jsdev/jquery.fancybox.min.js' | prepend: site.baseurl }}"></script>
{% endif %}
	<script src="{{site.baseurl}}/search.js?bust={{ site.time | date: '%s' }}" async="async"></script>

{% if page.disable_sharing != true %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54c8ec6563efcfde" async="async"></script>
{% endif %}

{% if site.production %}
<script type="text/javascript" src="{{site.baseurl}}/js/seo.autogenerated.js?bust={{ site.time | date: '%s' }}" async="async"></script>
{% else %}
<script type="text/javascript">
	{% if site.seo %}
		loadjsfile("{{ '/_jsdev/seo.js' | prepend: site.baseurl }}");
	{% endif %}
</script>
{% endif %}