{% raw %}
<script id="w-gallery-template-all" type="text/mustache">
	<div class="w-gallery-item-container col-sm-3 col-xs-12 col-centered">
		<div class="w-gallery-item-top-container">
			<a class="w-gallery-item-link" href="{{url}}">
				<img data-original="{{img}}" width="216px" height="146px" class="w-gallery-item-image" alt="{{subtitle}}">
				<div class="w-gallery-item-title w-overflow-text">{{title}}</div>
			</a>
			<hr class="w-gallery-line">
			<div class="w-gallery-item-desc w-overflow-text-multiline" title="{{subtitle}}">{{subtitle}}</div>
			<hr class="w-gallery-line">
			<div class="w-gallery-item-category w-overflow-text"><a class="w-gallery-item-collection-link" href="{{collectionurl}}">#{{collection}}</a></div>
		</div>
	</div>
</script>

<script id="w-gallery-template" type="text/mustache">
	<div class="w-gallery-item-container col-sm-3 col-xs-12 col-centered">
		<div class="w-gallery-item-top-container">
			<a class="w-gallery-item-link" href="{{url}}">
				<img data-original="{{img}}" width="216px" height="146px" class="w-gallery-item-image" alt="{{subtitle}}">
			</a>
			<hr class="w-gallery-line">
			<div class="w-gallery-item-desc w-overflow-text-multiline" title="{{subtitle}}">{{subtitle}}</div>
			<hr class="w-gallery-line">
			<div class="w-gallery-item-category w-overflow-text"><a class="w-gallery-item-collection-link" href="{{url}}">{{title}}</a></div>
		</div>
	</div>
</script>
{% endraw %}

<script>
	function initPostsContainer()
	{
		if(!postList)
			return;
		var postURLs = [];
		for(var ii=0; ii<postList.length; ++ii)
		{
			var postObj = postList[ii];
			if(postObj.url.indexOf("index.html") == -1)
				postURLs.push(postObj);
		}

		postURLs.sort(function(a, b) {
			if(a.url.substr(a.url.lastIndexOf("/")+1) > b.url.substr(b.url.lastIndexOf("/")+1))	//descending based on date
				return -1;
			else
				return 1;
		});

		addPosts(postURLs);

		postList = undefined;
	}

	function addPosts(postURLs)
	{
		if(!postURLs)
			return;
		
		var template = $(galleryTemplate).html();
		var compiledTemplate = Hogan.compile(template);

		var fragment = document.createDocumentFragment();
		var	$fragment = $(fragment);
		for(var ii=0; ii<postURLs.length; ++ii)
		{
			var postObj = postURLs[ii];
			var renderedTemplate = compiledTemplate.render(postObj);
			$fragment.append(renderedTemplate);
		}
		$(".postsContainer").append($fragment);
	}

	$(function() {
		initPostsContainer();
		var $lzyImages = $("img.w-gallery-item-image");
		$lzyImages.lazyload({
			threshold : 200,
			//effect : "fadeIn"
		});	//lazy load images
	});
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>