<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% if page.subtitle %}{{ page.subtitle }} {% else %}{{ site.description }}{% endif %}">
	<meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" /> 
	<meta property="og:description" content="{% if page.subtitle %}{{ page.subtitle }} {% else %}{{ site.description }}{% endif %}" />  
	<meta name="p:domain_verify" content="e1f6b2feebc09d99ca10ecdc354ccb57"/>
{% assign ogImage = page.sharing-img %}
{% if ogImage == null %}
	{% assign ogImage = page.header-img %}
{% endif %}
{% if ogImage %}
	<meta property="og:image" content="{{ ogImage | prepend: '/' | prepend: site.baseurl | prepend: site.url }}" /> 
{% endif %}
	<link rel="icon" type="image/png" href="{{'/favicon.png' | prepend: site.baseurl | prepend: site.url }}" />

	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

{% if site.production %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css"/>
	{% if page.needFancyBox %}
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
	{% endif %}
{% else %}
	<link rel="stylesheet" href="{{ '/_cssdev/bootstrap.min.css' | prepend: site.baseurl }}"/>
	{% if page.needFancyBox %}
		<link rel="stylesheet" type="text/css" href="/_cssdev/jquery.fancybox.min.css">
	{% endif %}
{% endif %}
	<link rel="stylesheet" href="{{ '/css/clean-blog.css' | prepend: site.baseurl }}"/>

<script type="text/javascript">
	function loadcssfile(filename) {
		var css = document.createElement('link');
		css.rel = 'stylesheet';
		css.type = 'text/css';
		css.href = filename;
		css.media = 'non-blocking-render';
		document.getElementsByTagName("head")[0].appendChild(css);
		setTimeout( function(){
		  css.media = 'all';
		},0);
	}
	
{% if site.production %}
	loadcssfile("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css");
	loadcssfile("//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
	loadcssfile("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
{% else %}
	loadcssfile("{{ '/_cssdev/font-awesome.min.css' | prepend: site.baseurl }}");
	loadcssfile("{{ '/_cssdev/lora.css' | prepend: site.baseurl }}");
	loadcssfile("{{ '/_cssdev/opensans.css' | prepend: site.baseurl }}");
{% endif %}
</script>

	{% include seo.html %}

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
