<div class="row w-magazines-holder">
	<div class="w-magazine">
		<a href="{{ site.baseurl }}/wildlifeweek/" target="_blank">
			<div class="background-image-component"></div>
			<img class="w-magazine-image" src="{{ site.baseurl }}/img/2015-10-02/India-Desert-Jird_Prasad-Natarajan.jpg">
			<div class="text-magazine">WILDLIFE WEEK</div>
		</a>
		<a href="{{ site.baseurl }}/authors/Prasad%20Natarajan/" target="_blank">
			<div class="text-magazines">Prasad Natarajan</div>
			<img class="preview-magazine-image" src="{{ site.baseurl }}/img/small_Prasad Natarajan.jpg">
		</a>
	</div>

	<div class="w-magazine">
		<a href="{{ site.baseurl }}/wildart/" target="_blank">
			<div class="background-image-component"></div>
			<img class="w-magazine-image" src="{{ site.baseurl }}/img/2015-11-09/White-Throated-Kingfisher-Prasad-Natarajan.jpg">
			<div class="text-magazine">WILDLIFE TALK</div>
		</a>
		<a href="{{ site.baseurl }}/authors/Prasad%20Natarajan/" target="_blank">
			<div class="text-magazines">Prasad Natarajan</div>
			<img class="preview-magazine-image" src="{{ site.baseurl }}/img/small_Prasad Natarajan.jpg">
		</a>
	</div>

	<div class="w-magazine">
		<a href="{{ site.baseurl }}/laughingdove/" target="_blank">
			<div class="background-image-component"></div>
			<img class="w-magazine-image" src="{{ site.baseurl }}/img/2015-11-18/Extinction-LaughingDove-DineshBalakrishnan.jpg">
			<div class="text-magazine">LAUGHING DOVE</div>
		</a>
		<a href="{{ site.baseurl }}/authors/Dinesh%20Balakrishnan/" target="_blank">
			<div class="text-magazines">Dinesh Balakrishnan</div>
			<img class="preview-magazine-image" src="{{ site.baseurl }}/img/small_Dinesh Balakrishnan.jpg">
		</a>
	</div>
</div>