<div class="module row">
<a href="{{ site.baseurl }}/wildlifeweek/" target="_blank">
<div class="background-image-component" style="background-color:#eee;width:170px;height:225px;">
<div class="background-image-component-overlay" style="background-color:#000;opacity:0.35;"></div> 
	<div class="w-magazine-image" style="background-image:url('{{ site.baseurl }}/img/2015-10-02/India-Desert-Jird_Prasad-Natarajan.jpg')"></a>
</div>
	<text-magazine>WILDLIFE WEEK</text-magazine>
	<a href="{{ site.baseurl }}/authors/Prasad%20Natarajan/" target="_blank"><text-magazines>Prasad Natarajan</text-magazines></a>
<img class="preview-magazine-image" src="{{ site.baseurl }}/img/small_Prasad Natarajan.jpg">
</div>
</div>
<div class="module row"> 
<a href="{{ site.baseurl }}/wildart/" target="_blank">
<div class="background-image-component" style="background-color:#eee;width:170px;height:225px;">
<div class="background-image-component-overlay" style="background-color:#000;opacity:0.35;"></div> 
	<div class="w-magazine-image" style="background-image:url('{{ site.baseurl }}/img/2015-11-09/White-Throated-Kingfisher-Prasad-Natarajan.jpg')"></a>
</div>
	<text-magazine>WILDART TALK</text-magazine>
	<a href="{{ site.baseurl }}/authors/Prasad%20Natarajan/" target="_blank"><text-magazines>Prasad Natarajan</text-magazines></a>
<img class="preview-magazine-image" src="{{ site.baseurl }}/img/small_Prasad Natarajan.jpg">
</div>
</div>
<div class="module row"> 
<a href="{{ site.baseurl }}/laughingdove/" target="_blank"> 
<div class="background-image-component" style="background-color:#eee;width:170px;height:225px;">
<div class="background-image-component-overlay" style="background-color:#000;opacity:0.35;"></div>
<div class="w-magazine-image" style="background-image:url('{{ site.baseurl }}/img/2015-11-18/Extinction-LaughingDove-DineshBalakrishnan.jpg')"></a>
</div>
	<text-magazine>LAUGHING DOVE</text-magazine>
	<a href="{{ site.baseurl }}/authors/Dinesh%20Balakrishnan/" target="_blank"><text-magazines>Prasad Natarajan</text-magazines></a>
<img class="preview-magazine-image" src="{{ site.baseurl }}/img/Dinesh Balakrishnan.jpg">
	</div>
</div>
