<div class="row w-magazines-holder">
	<div class="w-magazine">
		<a href="{{ site.baseurl }}/backyardbytes/" target="_blank">
			<div class="background-image-component"></div>
			<img class="w-magazine-image" src="{{ site.baseurl }}/img/Magazine/DivineSnake-RaviPrakashSS-BackyardBytes.jpg">
			<div class="text-magazine">BACKYARD BYTES</div>
		</a>
		<a href="{{ site.baseurl }}/authors/RaviPrakashSS/" target="_blank">
			<div class="text-magazines">Ravi Prakash SS</div>
			<img class="preview-magazine-image" src="{{ site.baseurl }}/img/small_raviprakashss.jpg">
		</a>
	</div>

	<div class="w-magazine">
		<a href="{{ site.baseurl }}/wildart/" target="_blank">
			<div class="background-image-component"></div>
			<img class="w-magazine-image" src="{{ site.baseurl }}/img/Magazine/White-Throated-Kingfisher-Prasad-Natarajan.jpg">
			<div class="text-magazine">WILDART TALK</div>
		</a>
		<a href="{{ site.baseurl }}/authors/Prasad%20Natarajan/" target="_blank">
			<div class="text-magazines">Prasad Natarajan</div>
			<img class="preview-magazine-image" src="{{ site.baseurl }}/img/small_Prasad Natarajan.jpg">
		</a>
	</div>

	<div class="w-magazine">
		<a href="{{ site.baseurl }}/laughingdove/" target="_blank">
			<div class="background-image-component"></div>
			<img class="w-magazine-image" src="{{ site.baseurl }}/img/Magazine/Extinction-LaughingDove-DineshBalakrishnan.jpg">
			<div class="text-magazine">LAUGHING DOVE</div>
		</a>
		<a href="{{ site.baseurl }}/authors/Dinesh%20Balakrishnan/" target="_blank">
			<div class="text-magazines">Dinesh Balakrishnan</div>
			<img class="preview-magazine-image" src="{{ site.baseurl }}/img/small_Dinesh Balakrishnan.jpg">
		</a>
	</div>
	<div class="w-magazine">
		<a href="{{ site.baseurl }}/africandiaries/" target="_blank">
			<div class="background-image-component"></div>
			<img class="w-magazine-image" src="{{ site.baseurl }}/img/Magazine/Satisfying-the-soul-Suresh-Basavaraju.jpg">
			<div class="text-magazine">AFRICAN DIARIES</div>
		</a>
		<a href="{{ site.baseurl }}/authors/Suresh%20Basavaraju//" target="_blank">
			<div class="text-magazines">Suresh Basavaraju</div>
			<img class="preview-magazine-image" src="{{ site.baseurl }}/img/small_Suresh Basavaraju.jpg">
		</a>
	</div>
</div>