<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WZXB4J"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>
	if (document.location.hostname.search("{{site.domain-home}}") !== -1) 
	{
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WZXB4J');
	}	
	</script>
<!-- End Google Tag Manager -->

<!-- Navigation -->
{% if page.header-img == null %}
<div class="nav-no-header-img">
{% endif %}
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse noselect" id="bs-example-navbar-collapse-1">
			<span class="logo"><a href="/"><img src="/favicon.png">WILDERHOOD</a></span>
            <ul class="nav navbar-nav navbar-right">
				<li class="w-search-container hidden-xs">
					<div class="w-search-top">
					<div class='w-search-placer'>
					<input class="typeahead w-search-input-top" type="text" placeholder="Wildlife search..." autocomplete="off">
					<span class="fa fa-search w-search-icon-top"></span>
					</div>
					</div>
					</li>
                <li>
                    <a href="{{ '/gallery' | prepend: site.baseurl }}/">Gallery</a>
                </li>
                <li>
                    <a href="{{ '/about.html' | prepend: site.baseurl }}">About</a>
                </li>
                <li>
                    <a href="{{ '/contact.html' | prepend: site.baseurl }}">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

{% if page.header-img == null %}
</div>
{% endif %}
