---
layout: default
---

<div id="main" role="main">
  <div class="article-author-container" class="row">
	  <div class="article-author-side col-xs-3">
		{% include author-bio.html %}
	  </div>
	  <div id="post-index" class="col-xs-8">
			<!-- addthis for individual authors for later usage -->
			<!--div class="row" style="height:40px">
				<div class="addthis_sharing_toolbox pull-right"></div>
			</div-->
		<h3>Posts</h3>
		<hr>
		{% for post in site.posts %}
			{% if post.author == page.author_name %}
				<article>
				<h4><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h4>
				<span>{{ post.subtitle | strip_html | truncate: 160 }}</span>
				</article>
			{% endif %}
		{% endfor %}

		{% assign showGallery = false %}
		{% for collection in site.collections%}
			{% assign collectionName = collection[0] %}
			{% for post in site[collectionName] reversed %}
				{% if post.author == page.author_name %}
					{% assign showGallery = true %}
					{% break %}
				{% endif %}
			{% endfor %}
		{% endfor %}

		<br><br>
		{% if showGallery == true %}
			<h3>Gallery</h3>
			<hr>
			{% for collection in site.collections%}
				{% assign collectionName = collection[0] %}

				{% assign showGallery = false %}
				{% for post in site[collectionName] reversed %}
					{% if post.author == page.author_name %}
						{% assign showGallery = true %}
						{% break %}
					{% endif %}
				{% endfor %}				

				{% if showGallery == true %}
					<h5>{{collectionName}}</h5>
					{% for post in site[collectionName] reversed %}
						{% if post.author == page.author_name %}
							<article>
							<h4><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h4>
							<span>{{ post.subtitle | strip_html | truncate: 160 }}</span>
							</article>
						{% endif %}
					{% endfor %}
				{% endif %}

			{% endfor %}
		{% endif %}
	</div>	
  </div>
</div><!-- /#main -->

